{% extends 'base.html.twig' %}

{% block title %}Confirmation de votre commande{% endblock %}

{% block body %}

  <div class="center col-10 mt-0 d-flex flex-column justify-content-between">
    <h1>Confirmation de votre commande</h1>
    <h2>Mon Panier</h2>
    <table class="table table-hover">
      <thead>
        <tr>
          <th scope="col">Produit</th>
          <th scope="col">Prix</th>
          <th scope="col">Quantité</th>
        </tr>
      </thead>
      <tbody>
        {% for row in cartProducts %}
          <tr class="table-active">
            <td>{{ row.product.name }}</td>
            <td>{{ row.product.price|price }}</td>
            <td>{{ row.qty }}</td>
          </tr>
        {% else %}
          <tr>
            <td colspan="5">Aucun produit dans votre panier</td>
          </tr>
        {% endfor %}
        <tr>
          <td colspan="2">Total :
          </td>
          <td>{{ total }}
          </td>
        </tr>
      </tbody>
    </table>

    <h2>Adresse de livraison</h2>

    {{ form_start(form) }}
    {{ form_widget(form) }}
    <button class="btn btn-secondary mt-2 mb-3">{{ button_label|default('Confirmer et Payer') }}</button>
    {{ form_end(form) }}
  </div>

{% endblock %}
