{% extends 'base.html.twig' %}

{% block title %}Modifier le produit{% endblock %}

{% block body %}

  <div class="center col-10 mt-0 d-flex flex-column align-items-center">
    <div class="row d-flex justify-content-evenly m-0 w-75">
      <h1 class="slogan mt-1 mb-3 mx-0 d-flex justify-content-center text-secondary fst-italic">
        Modifier
        {{ product.name }}</h1>

      {{ form_start(form) }}

      <div class="d-flex w-100">
        <div class="w-50">{{ form_row(form.reference) }}</div>
        <div class="w-50 ms-5">{{ form_row(form.name) }}</div>
        <div class="w-50 ms-5">{{ form_row(form.category) }}</div>
      </div>
      <p class="w-100">{{ form_row(form.description) }}</p>
      <div class="d-flex w-100">
        <div class="w-50">{{ form_row(form.price) }}</div>
        <div class="w-50 ms-5">{{ form_row(form.stock) }}</div>
      </div>

      <div class="d-flex justify-content-evenly">
        <button class="btn btn-dark mt-5 mb-3 w-25">{{ button_label|default('Modifier') }}</button>
      </div>

      {{ form_end(form) }}

      <table class="mt-5 table table-hover table-light table-bordered border-dark border border-5 w-100">
        <thead>
          <tr>
            <th class="text-center">Image Id</th>
            <th class="text-center w-25">Titre de l'image</th>
            <th class="text-center w-75">Action</th>
          </tr>
        </thead>
        <tbody>
          {% for image in images %}
            <tr>
              <td>{{ image.id }}</td>
              <td>{{ image.name }}</td>
              <td class="d-flex justify-content-evenly align-items-center">
                <a class="btn btn-secondary w-25" href="{{ path('image_show', {'id': image.id}) }}">Voir</a>
                <a class="btn btn-success" href="{{ path('image_new', {'product': product.id}) }}">Ajouter une image</a>
              </td>
            </tr>
          {% else %}
            <tr>
              <td colspan="4">Aucune image enregistrée</td>
            </tr>
          {% endfor %}
        </tbody>
      </table>
      <a class="text-dark text-center" href="{{ path('product_index') }}">Retour au menu Produit</a>
    </div>

  </div>

{% endblock %}
