{% extends 'base.html.twig' %}

{% block title %}{{ product.name }}
{% endblock %}

{% block body %}

  <div class="center col-10 mt-0 d-flex flex-column justify-content-between">
    <h1>{{ product.name }}</h1>
    <table class="table">
      <tbody>
        <tr>
          <th>Produit Id</th>
          <td>{{ product.id }}</td>
        </tr>
        <tr>
          <th>Nom</th>
          <td>{{ product.name }}</td>
        </tr>
        <tr>
          <th>Référence</th>
          <td>{{ product.reference }}</td>
        </tr>
        <tr>
          <tr>
            <th>Slug</th>
            <td>{{ product.slug }}</td>
          </tr>
          <tr>
            <th>Description</th>
            <td>{{ product.description }}</td>
          </tr>
          <tr>
            <th>Photo</th>
            <td>
              {% if images != [] %}
                {% for image in images %}
                  <img src="/upload/{{ images.0.picture }}" alt="{{ images.0.alt }}" class="productPic">
                {% endfor %}
              {% else %}
                Pas d'image
              {% endif %}
            </td>
          </tr>
          <tr>
            <th>Prix</th>
            {% if product.price %}
              <td>{{ product.price|price }}</td>
            {% else %}
              <td>Sur Devis</td>
            {% endif %}
          </tr>
          <tr>
            <th>Disponibilité</th>
            <td>{{ product.stock }}</td>
          </tr>
          <tr>
            <th>Catégorie</th>
            <td>{{ product.category.name }}</td>
          </tr>
        </tbody>
      </table>
      {% if is_granted('ROLE_ADMIN') %}
        <a class="my-3 btn btn-secondary" href="{{ path('product_edit', {'id': product.id}) }}">Modifier</a>
        {{ include('product/_delete_form.html.twig') }}
      {% endif %}
      {% if product.stock != 0 %}
        {% if app.user %}
          <a class="btn btn-danger btn-sm mt-3" href="{{ path('cart_add', {'product': product.id}) }}">Acheter</a>
        {% else %}
          <a class="btn btn-danger btn-sm mt-3" href="{{ path('home_contact_info')}}">Acheter</a>
        {% endif %}
      {% else %}
        <tr>
          <td colspan="5">Produit en rupture de stock</td>
        </tr>
      {% endif %}
      <a class="my-3" href="{{ path('product_index') }}">Retour au menu Produit</a>
    </div>
  {% endblock %}
