{% extends 'base.html.twig' %}

{% block title %}Utilisateur{% endblock %}

{% block body %}
  <div class="center col-10 m-0 d-flex flex-column justify-content-between align-items-center m-0">
    <h1 class="text-light d-flex justify-content-center mt-2 mb-5">{{ user.firstname }}
      {{ user.name }}
    </h1>
    <table class="table table-hover table-light table-bordered table-light border border-3 w-75 mx-3 my-3">
      <tbody>
        <tr>
          <th>Email</th>
          <td>{{ user.email }}</td>
        </tr>
        <tr>
          <th>Nom</th>
          <td>{{ user.name }}</td>
        </tr>
        <tr>
          <th>Prénom</th>
          <td>{{ user.firstname }}</td>
        </tr>
        <tr>
          <th>Téléphone</th>
          <td>{{ user.phone }}</td>
        </tr>
        <tr>
          <th>Adresse</th>
          <td>{{ user.adress }}</td>
        </tr>
        <tr>
          <th>Code postal</th>
          <td>{{ user.postCode }}</td>
        </tr>
        <tr>
          <th>Ville</th>
          <td>{{ user.town }}</td>
        </tr>
      </tbody>
    </table>

    <div class="button d-flex justify-content-between align-items-center w-75 mt-2">
      <a class="btn btn-light my-2 w-auto" href="{{ path('invoice_user_invoice', {'id': user.id}) }}">Mes achats</a>
      <a class="btn btn-dark w-auto" href="{{ path('user_profile_edit', {'id': user.id}) }}">Modifier</a>
      {{ include('user/_delete_form.html.twig') }}
    </div>

  </div>
{% endblock %}
